/*
 * OpenAPI Generator Online
 * This is an online openapi generator server.  You can find out more at https://github.com/OpenAPITools/openapi-generator.
 *
 * The version of the OpenAPI document: 7.12.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.sixcorners.openapi_generator_client.api;

import com.github.sixcorners.openapi_generator_client.model.CliOptionBody;
import com.github.sixcorners.openapi_generator_client.model.GeneratorInputBody;
import com.github.sixcorners.openapi_generator_client.model.ResponseCodeBody;
import jakarta.validation.Valid;
import jakarta.validation.constraints.*;
import jakarta.ws.rs.*;
import java.io.File;
import java.util.List;
import java.util.Map;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * OpenAPI Generator Online
 *
 * <p>This is an online openapi generator server. You can find out more at
 * https://github.com/OpenAPITools/openapi-generator.
 */
@RegisterRestClient(configKey = "openapi-generator-client")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/gen")
public interface ClientsApi {

  /** Gets languages supported by the client generator */
  @GET
  @Path("/clients")
  @Produces({"*/*"})
  List<String> clientOptions() throws ApiException, ProcessingException;

  /**
   * Downloads a pre-generated file
   *
   * <p>A valid &#x60;fileId&#x60; is generated by the &#x60;/clients/{language}&#x60; or
   * &#x60;/servers/{language}&#x60; POST operations. The fileId code can be used just once, after
   * which a new &#x60;fileId&#x60; will need to be requested.
   */
  @GET
  @Path("/download/{fileId}")
  @Produces({"application/octet-stream"})
  File downloadFile(@BeanParam DownloadFileRequest request)
      throws ApiException, ProcessingException;

  public class DownloadFileRequest {

    private @PathParam("fileId") String fileId;

    private DownloadFileRequest() {}

    public static DownloadFileRequest newInstance() {
      return new DownloadFileRequest();
    }

    /**
     * Set fileId
     *
     * @param fileId fileId (required)
     * @return DownloadFileRequest
     */
    public DownloadFileRequest fileId(String fileId) {
      this.fileId = fileId;
      return this;
    }
  }

  /**
   * Generates a client library
   *
   * <p>Accepts a &#x60;GeneratorInput&#x60; options map for spec location and generation options
   */
  @POST
  @Path("/clients/{language}")
  @Consumes({"application/json"})
  @Produces({"*/*"})
  ResponseCodeBody generateClient(
      @BeanParam GenerateClientRequest request, @Valid GeneratorInputBody generatorInput)
      throws ApiException, ProcessingException;

  public class GenerateClientRequest {

    private @PathParam("language") String language;

    private GenerateClientRequest() {}

    public static GenerateClientRequest newInstance() {
      return new GenerateClientRequest();
    }

    /**
     * Set language
     *
     * @param language The target language for the client library (required)
     * @return GenerateClientRequest
     */
    public GenerateClientRequest language(String language) {
      this.language = language;
      return this;
    }
  }

  /** Returns options for a client library */
  @GET
  @Path("/clients/{language}")
  @Produces({"application/json"})
  Map<String, CliOptionBody> getClientOptions(@BeanParam GetClientOptionsRequest request)
      throws ApiException, ProcessingException;

  public class GetClientOptionsRequest {

    private @PathParam("language") String language;

    private GetClientOptionsRequest() {}

    public static GetClientOptionsRequest newInstance() {
      return new GetClientOptionsRequest();
    }

    /**
     * Set language
     *
     * @param language The target language for the client library (required)
     * @return GetClientOptionsRequest
     */
    public GetClientOptionsRequest language(String language) {
      this.language = language;
      return this;
    }
  }
}
